<div style="text-align: center;">
    <img class="w-50 mx-auto" src="{{product.image}}" alt="">
    <p>{{product.title}}</p>
    <div>
        <small>Created At: <b>{{formatDate product.createdAt}}</b></small>
        <small>Price: {{product.price}}.00$</small>
        <p>{{product.description}}</p>
    </div>
</div>


